/* 

these are the colors used in the example
***you can use them if you'd like or you can choose your own***

black - rgb(37, 37, 37)
blue - rgb(42, 171, 226)
shadow - rgba(102, 75, 75, .3)
white - rgb(255, 255, 255) (default value) 

the font is called 'nunito' and can be found on google fonts
***you can use it if you'd like or you can choose your own***

*/

head, body, section{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
   
}

header {
   
    align-items: right;
    font-weight: bold;
    color: rgb(42, 171, 226);
    background-color: rgb(37, 37, 37);
    padding: 10px;
    margin: 20;
    position: fixed;
    width: 100%;
}

nav {

    display: inline-block;
    list-style: none;
    align-content: space-between;
    color: rgb(255, 255, 255);
    justify-content: right;


}

.skillsText{
   
    height: 80vh;
    margin: 20px;
    padding: 40px;
    
}

h1 {
    color:  rgb(37, 37, 37);
    font-weight: bold;
 
}

.twoBoxes {
    justify-content: space-evenly;
    flex-direction: column;
}

.profilePic, .popularAct {
    padding: 20px;
    height: 200px;
    width: 200px;
    float: right;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 10px rgb(37, 37, 37);

}



#gallery {
    flex-direction: row;
    align-items: center;
    margin: 50px;
    padding: 100px;
    background-color:  rgb(255, 255, 255);
  
   
}

h2{
color:  rgb(37, 37, 37);
font-weight: bold;
}

.popularAct{
    text-align: center;
    list-style: 
}

