/* 

these are the colors used in the example
***you can use them if you'd like or you can choose your own***

black - rgb(37, 37, 37)
blue - rgb(42, 171, 226)
shadow - rgba(102, 75, 75, .3)
white - rgb(255, 255, 255) (default value) 

the font is called 'nunito' and can be found on google fonts
***you can use it if you'd like or you can choose your own***

*/

head, body, section{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    font-family:Arial, Helvetica, sans-serif;
   
}

header, footer {
   font-weight: bold;
    padding: 10px;
    margin: 20;
    width: 100%;
}

header {
    color: rgb(42, 171, 226);
    background-color: rgb(37, 37, 37);
    position: fixed;
    font-size: 1.5em;
    flex-direction: row;
    align-content: space-around;
}

#navMenu {
    display: inline-block;
    list-style: none;
    color: rgb(255, 255, 255);
    font-size: 0.5em;
    margin-left: 350px;
    padding: 10px;
    width: 400px;
} 

.menu {
    display: inline-block;
    padding:    20px;
    font-size: 1.0em;
    font-weight: lighter;
}

.skillsText{
    /*height: 100vh;*/
    margin: 20px;
    padding: 40px;  
}

h1 {
    color:  rgb(37, 37, 37);
    font-weight: bold;
    font-size: 1.5em;
 
}

p {
    justify-content: space-evenly;
    align-content: space-between;
    flex-direction: column;
    /*height: 100vh;*/
}

p, h1, .imageGal{
    margin: 20px;
    padding: 20px;
}

.profilePic, .popularAct{
    margin: 20px;
    padding: 20px;
    height: 200px;
    width: 200px;
    float: right;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 10px rgb(37, 37, 37);
    flex-direction: column;
    align-content: flex-end;
}

.logoBox{
  
    flex-direction: row;
    padding: 40px;
    margin: 20px;
}

#gallery {
    flex-direction: column-reverse;
    align-content: space-around;
   /* margin: 50px;
    padding: 20px;*/
    align-items:center;
    
  
}

h2{
color:  rgb(37, 37, 37);
font-weight: bold;
}

.popularAct{
    text-align: center;
}


footer {
background-color: rgb(42, 171, 226);
color: rgb(37, 37, 37);
font-size: 1.0em;
}

